:root{
    /* bg-colors */
    --two-bg-color:  #ffffff20;
    --main-bg-color: #006769;
    /* text-colors */
    --two-text-color: #d8d8d8;
    --main-text-color: #3c5135;
    /* hover-colors */
    --two-color-hover: #e6ff94;
    --main-color-hover: #40a578;
    /* shadow-colors */
    --main-hover-shadow: 3px 3px 3px rgba(0, 0, 0, .2),
    -3px -3px 3px rgb(134, 182, 116, 0.2);
    --main-active-shadow: 3px 3px 3px rgba(0, 0, 0, .2) ,
    -3px -3px 3px #69e3ac7d;
    --main-border-radius: 8px;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}

h1, h2 {
    text-align: center;
    margin-top: 50px;
}

h3 {
    text-align: center;
    margin-top: 10px;
}

p {
    text-align: center;
    margin-top: 10px;
}

a {
    text-align: center;
}

.IngrediSwap-tele, .Healthify-tele{
    text-align: center;
}

#menu {
    text-align: center;
    margin-top: 20px;
}

form {
    text-align: center;
    margin-top: 50px;
}

label {
    font-size: 20px;
}

input {
    font-size: 20px;
    padding: 5px;
    border: none;
}

#HomeImage {
    width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-size: 24px;
}

  .topnav {
    display: flex;
    background-color: var(--two-bg-color);
    width: 100%;
    overflow: hidden;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(5px);
  }
  
  .topnav img {
    float: left;
    height: auto; 
    width: auto; 
    max-width: 200px; 
    max-height: 300px;
    margin-right: 200px;
  }

    .topnav img:hover {
        opacity: 0.7;
    }
  
  .topnav a {
    float: left;
    color: var(--main-text-color);
    background-color: var(--two-bg-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 8px;
    margin-right: 100px;
    margin-left: auto;
    text-emphasis: bold;
  }
  
  
  .topnav a:hover {
    box-shadow: var(--main-hover-shadow);
  }
  
  
  .topnav a.active {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .2) ,
    -3px -3px 3px rgba(112, 169, 91, 0.2) ;
    background-color: var(--two-bg-color-hover);
  }
