
input[type="text"]:focus {
  width: 30%;
  outline: none;
}
input[type="submit"] {
  display: inline-flexbox;
  font-size: 20px;
  padding: 5px 20px;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  
}

input[type="submit"]:hover {
  background-color: #45a049;
}

input[type="text"] {
    width: 260px;
    box-sizing: border-box;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    background-color: rgb(244, 244, 244);
    background-image: url('h-searchicon.png');
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}




* {
  box-sizing: border-box;
}

body {
  font: 16px Arial;  
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-flex;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

#submitbutton {
  font-size: 20px;
  padding: 5px 20px;
  background-color: #95ccab;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

#subitbutton:hover {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, .2),
    -5px -5px 5px rgb(134, 182, 116, 0.2);
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  border-radius: 7px;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: #4CAF50  !important; 
}
