input[type="text"] {
    width: 260px;
    box-sizing: border-box;
    border: none;
    border-radius: 7px;
    font-size: 25px;
    background-color: rgb(244, 244, 244);
    background-image: url('is-searchicon.png');
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }

input[type="text"]:focus {
    width: 30%;
    outline: none;
}
input[type="submit"] {
    font-size: 20px;
    padding: 5px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="favoritestext"] {
    width: 260px;
    box-sizing: border-box;
    border: none;
    border-radius: 7px;
    font-size: 40px;
    background-color: rgb(244, 244, 244);
    background-image: url('is-searchicon.png');
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}
#HomeImage {
    width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    font-size: 24px;
    color: #333;
}

body {
    background-image: url('backgroundtest2.webp');
    background-size: cover;
    color: #fff;
}


#recipeResults {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-gap: 50px;
    font-size: 15px;
    color: #000000;
    justify-content: center;
}


#recipeResults div {
    background-color: rgb(208, 255, 247, 0.2);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
    text-align: center;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}



#recipeResults img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

#recipeResults a {
    padding: 10px 20px; 
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 50px;
}